.home-page {
    width: 100%;
    margin: 1rem 0;
}
.home-page h3 a {
    text-transform: uppercase;
    color: #00008b;
    letter-spacing: 3;
    margin-top: 1rem;
    cursor: pointer;
    text-decoration: none;
}
.home-page h3:hover a {
    color: #dc143c;
    text-decoration: none;
}
.home-page h3 a small {
    font-size: 15px;
}
.home-blogs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 10px;
    margin-bottom: 15px;
}